.nav-section {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  align-items: center;
  margin-top: 0;
  background-color: rgb(114, 112, 112);
}

.nav-section h1 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 10px;
}

nav {
  width: 20%;
  background-color: rgb(121, 121, 121);
  border: 1px solid rgb(199, 194, 194);
  border-radius: 7px;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-ul li {
  border-right: 2px solid black;
  padding-right: 13px;
}
a {
  color: #000;
}
a:hover {
  color: whitesmoke;
}

.quote-li {
  border: none !important;
}
